<template lang="pug">
    div
        li(v-for="man in manList")
            span(hidden) {{ man.id }}
            p
                span Name:
                span {{ man.name }}
            p
                span Phone:
                span {{ man.phone }}
            p
                span Age:
                span {{ man.age }}
</template>

<script>
export default {
  name: 'List',
  props: {
    manList: {}
  }
}
</script>
