<template lang="pug">
    div(id="app")
        h2 List of man
        List(:manList="manList")
</template>

<script>
import * as JD from './data.json'

export default {
  components: {
    List: () => import('./components/List.vue')
  },
  name: 'app',
  data () {
    return {
      manList: JD['default']
    }
  }
}
</script>
<style lang="scss">
    @import './variables.scss';
    body{
        background: #2c3e50;

    }
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        margin-top: 60px;
        color: #e2e2e2;
    }
    h2{
        text-transform: uppercase;
    }
    li{
        list-style: none;
        text-align: left;
        outline: $outline-crimson;
        max-width: 30%;
        min-width: 400px;
        margin: 0 auto;
        padding: 10px 20px;
    }
    li:nth-child(odd){
        background: #3e5265;
    }
    li p span:nth-child(1) {
        outline: $outline-green;
        display: inline-block;
        width: 65px;
    }
    li p span:nth-child(2) {
        font: bold italic 120% serif;
    }
</style>
