$vue-blue: #32485F;
$outline-weight: 0px;

$outline-crimson: $outline-weight dotted crimson;
$outline-whitesmoke: $outline-weight dotted whitesmoke;
$outline-green: $outline-weight dotted green;
$outline-blue: $outline-weight dotted blue;
